.underlineDiv{
    background-image: linear-gradient(to right, #FF8200, #000,#FF8200);
    background-size: 300%;
    background-position: left;
    transition: 600ms background-position ease-in-out;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
    height: 5px;
    cursor: pointer;
}
.title{
    @apply lg:text-2xl text-xl relative inline-block pb-1;

    cursor: pointer;
}

.title:hover .underlineDiv{
    background-position: right;
}