@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:  255, 255, 255;
  --background-start-rgb:  255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb:  255, 255, 255;
  }
}

@font-face {
  font-family: "redHat-r";
  src: url("../styles/fonts/redHat-r.ttf");
}

@font-face {
  font-family: "redHat-b";
  src: url("../styles/fonts/redHat-b.otf");
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

